*~
*.swp
*.swo
values-secret*
.*.expected.yaml
pattern-vault.init
vault.init
/ansible/execution_environment/context/_build/*
pattern-vault.init.bak
super-linter.log
.vscode
.ansible
/ocp-primary.yaml
/ocp-secondary.yaml
tests/ci/.results/
tests/ci/.pytest_cache/
tests/ci/__pycache__/