clusterGroup:
  name: hub
  isHubCluster: true
  namespaces:
    - open-cluster-management
    - vault
    - golang-external-secrets
    - regional-dr
    - regional-dr-trigger
    - openshift-dr-system
    - openshift-storage
    - policies
  subscriptions:
    acm:
      name: advanced-cluster-management
      namespace: open-cluster-management
      channel: release-2.13

    odf-multicluster-orchestrator:
      name: odf-multicluster-orchestrator
      namespace: openshift-operators

    openshift-data-foundation:
      name: odf-operator
      namespace: openshift-storage

  projects:
    - hub
    - opp
  # Explicitly mention the cluster-state based overrides we plan to use for this pattern.
  # We can use self-referential variables because the chart calls the tpl function with these variables defined
  sharedValueFiles:
    - '/overrides/values-{{ $.Values.global.clusterPlatform }}.yaml'
  # sharedValueFiles is a flexible mechanism that will add the listed valuefiles to every app defined in the
  # applications section. We intend this to supplement and possibly even replace previous "magic" mechanisms, though
  # we do not at present have a target date for removal.
  #
  # To replicate the "classic" magic include structure, the clusterGroup would need all of these
  # sharedValueFiles, in this order:
  #   - '/overrides/values-{{ $.Values.global.clusterPlatform }}.yaml'
  #   - '/overrides/values-{{ $.Values.global.clusterPlatform }}-{{ $.Values.global.clusterVersion }}.yaml'
  #   - '/overrides/values-{{ $.Values.global.clusterPlatform }}-{{ $.Values.clusterGroup.name }}.yaml'
  #   - '/overrides/values-{{ $.Values.global.clusterVersion }}-{{ $.Values.clusterGroup.name }}.yaml"
  #   - '/overrides/values-{{ $.Values.global.localClusterName }}.yaml'

  # This kind of variable substitution will work with any of the variables the Validated Patterns operator knows
  # about and sets, so this is also possible, for example:
  #   - '/overrides/values-{{ $.Values.global.hubClusterDomain }}.yaml'
  #   - '/overrides/values-{{ $.Values.global.localClusterDomain }}.yaml'
  applications:
    acm:
      name: acm
      namespace: open-cluster-management
      project: hub
      chart: acm
      chartVersion: 0.1.*
      ignoreDifferences:
        - group: internal.open-cluster-management.io
          kind: ManagedClusterInfo
          jsonPointers:
            - /spec/loggingCA

    opp-policy:
      name: opp-policy
      namespace: openshift
      project: opp
      path: charts/hub/opp
      syncPolicy:
        automated: {}
        retry:
          limit: 20
        syncOptions:
          - syncTimeout=600s
      ignoreDifferences:
      - group: operators.openshift.io
        kind: Console
        jsonPointers:
          - /spec/plugins

    rdr:
      name: regional-dr
      namespace: regional-dr
      project: opp
      path: charts/hub/rdr

    rdrtrigger:
      name: regional-dr-trigger
      namespace: regional-dr-trigger
      project: opp
      path: charts/hub/rdrtrigger

    vault:
      name: vault
      namespace: vault
      project: hub
      chart: hashicorp-vault
      chartVersion: 0.1.*

    golang-external-secrets:
      name: golang-external-secrets
      namespace: golang-external-secrets
      project: hub
      chart: golang-external-secrets
      chartVersion: 0.1.*

    odf:
      name: odf
      namespace: openshift-storage
      project: opp
      chart: openshift-data-foundations
      chartVersion: 0.2.*
      extraValueFiles:
        - '$patternref/overrides/values-odf-chart.yaml'


  imperative:
    verbosity: "-vvv"
    jobs: []
  managedClusterGroups:
    resilient-1:
      name: resilient-1
      helmOverrides:
        - name: clusterGroup.isHubCluster
          value: "false"
      acmlabels:
        - name: clusterGroup
          value: resilient-1
    resilient-2:
      name: resilient-2
      helmOverrides:
        - name: clusterGroup.isHubCluster
          value: "false"
      acmlabels:
        - name: clusterGroup
          value: resilient-2
