---
clusterGroup:
  name: resilient
  isHubCluster: false

  namespaces:
    - golang-external-secrets
    - openshift-cnv
    - openshift-storage
    - policies
    - gitops-vms
    - external-dns-operator
    - openshift-adp:
        operatorGroup: true
        targetNamespaces:
          - openshift-adp
    - openshift-workload-availability:
        operatorGroup: true
        targetNamespaces:

  subscriptions:
    openshift-virtualization:
      name: kubevirt-hyperconverged
      namespace: openshift-cnv
      channel: stable

    external-dns:
      name: external-dns-operator
      namespace: external-dns-operator
      channel: stable-v1

    node-health-check:
      name: node-healthcheck-operator
      namespace: openshift-workload-availability
      channel: stable

    self-node-remediation:
      name: self-node-remediation
      namespace: openshift-workload-availability
      channel: stable

    openshift-data-foundation:
      name: odf-operator
      namespace: openshift-storage

    openshift-oadp:
      name: redhat-oadp-operator
      namespace: openshift-adp
      channel: stable-1.4

  projects:
    - resilient

  imperative:
    jobs:
      - name: clean-golden-images
        playbook: ansible/odf_fix_dataimportcrons.yml
        verbosity: -vvv
    clusterRoleYaml:
      - apiGroups:
          - "*"
        resources:
          - persistentvolumeclaims
          - datavolumes
          - dataimportcrons
          - datasources
        verbs:
          - "*"
      - apiGroups:
          - "*"
        resources:
          - "*"
        verbs:
          - get
          - list
          - watch

  applications:
    ensure-openshift-console-plugins:
      name: ensure-openshift-console-plugins
      namespace: openshift-console
      project: resilient
      chart: ensure-openshift-console-plugins
      chartVersion: 0.1.*
      extraValueFiles:
        - '$patternref/overrides/values-console-plugins-spokes.yaml'

    golang-external-secrets:
      name: golang-external-secrets
      namespace: golang-external-secrets
      project: resilient
      chart: golang-external-secrets
      chartVersion: 0.1.*

    openshift-cnv:
      name: openshift-cnv
      namespace: openshift-cnv
      project: resilient
      chart: openshift-virtualization-instance
      chartVersion: 0.1.*

    odf:
      name: odf
      namespace: openshift-storage
      project: resilient
      chart: openshift-data-foundations
      chartVersion: 0.2.*
      extraValueFiles:
        - '$patternref/overrides/values-odf-chart.yaml'

    node-health-check-operator:
      name: node-health-check-operator
      namespace: openshift-workload-availability
      project: resilient
      chart: node-health-check-operator
      chartVersion: 0.1.*

    external-dns-operator:
      name: external-dns-operator
      namespace: external-dns-operator
      project: resilient
      chart: external-dns-operator
      chartVersion: 0.1.*
    
    adp-data-protection:
      name: adp-data-protection-application
      namespace: openshift-adp
      project: resilient
      path: charts/resilient/data-protection-application

  managedClusterGroups: []
