apiVersion: cluster.open-cluster-management.io/v1
kind: Placement
metadata:
  labels:
    open-cluster-management.io/policy-set: openshift-plus
  name: placement-openshift-plus-hub
  namespace: open-cluster-management
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  predicates:
  - requiredClusterSelector:
      labelSelector:
        matchExpressions:
        - key: name
          operator: In
          values:
          - local-cluster