apiVersion: policy.open-cluster-management.io/v1
kind: Policy
metadata:
  annotations:
    policy.open-cluster-management.io/categories: CA Assessment Authorization and
      Monitoring
    policy.open-cluster-management.io/controls: CA-7 Continuous Monitoring
    policy.open-cluster-management.io/standards: NIST SP 800-53
    argocd.argoproj.io/compare-options: IgnoreExtraneous
  labels:
    open-cluster-management.io/policy-set: openshift-plus
  name: policy-ocm-observability
  namespace: policies
spec:
  disabled: false
  policy-templates:
  - objectDefinition:
      apiVersion: policy.open-cluster-management.io/v1
      kind: ConfigurationPolicy
      metadata:
        name: policy-ocm-observability
        annotations:
          argocd.argoproj.io/compare-options: IgnoreExtraneous
      spec:
        object-templates:
        - complianceType: musthave
          objectDefinition:
            apiVersion: v1
            kind: Secret
            metadata:
              name: thanos-object-storage
              namespace: open-cluster-management-observability
            type: Opaque
            stringData:
              thanos.yaml: |
                type: s3
                config:
                  bucket: "{{ (lookup "objectbucket.io/v1alpha1" "ObjectBucket" "" "obc-openshift-storage-obc-observability").spec.endpoint.bucketName | default "obc-observability-bucket" }}"
                  endpoint: "{{ (lookup "objectbucket.io/v1alpha1" "ObjectBucket" "" "obc-openshift-storage-obc-observability").spec.endpoint.bucketHost | default "s3.openshift-storage.svc.cluster.local" }}"
                  insecure: false
                  access_key: "{{ (lookup "v1" "Secret" "openshift-storage" "noobaa-admin").data.AWS_ACCESS_KEY_ID | b64dec | default "placeholder" }}"
                  secret_key: "{{ (lookup "v1" "Secret" "openshift-storage" "noobaa-admin").data.AWS_SECRET_ACCESS_KEY | b64dec | default "placeholder" }}"
                  http_config:
                    insecure_skip_verify: true
                    tls_config:
                      insecure_skip_verify: true
        - complianceType: musthave
          objectDefinition:
            apiVersion: observability.open-cluster-management.io/v1beta2
            kind: MultiClusterObservability
            metadata:
              name: observability
              namespace: open-cluster-management-observability
            spec:
              observabilityAddonSpec: {}
              storageConfig:
                metricObjectStorage:
                  key: thanos.yaml
                  name: thanos-object-storage
        remediationAction: enforce
        severity: medium
