{{- range .Values.regionalDR }}
{{ $clusterSet := .name }}
{{- range list .clusters.primary .clusters.secondary }}
{{ $cluster := . }}
---
apiVersion: ramendr.openshift.io/v1alpha1
kind: DRCluster
metadata:
  name: {{ $cluster.name }}
  namespace: {{ $cluster.name }}
  labels:
    purpose: regionalDR
    vendor: OpenShift
    cluster.open-cluster-management.io/clusterset: {{ $clusterSet }}
    clusterGroup: {{ $cluster.clusterGroup }}
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  clusterFence: Unfenced
  region: {{ $cluster.install_config.platform.aws.region }}
  s3ProfileName: s3profile-{{ $cluster.name }}-ocs-storagecluster
  cidrs:
  - {{ (index $cluster.install_config.networking.machineNetwork 0).cidr }}
  - {{ (index $cluster.install_config.networking.clusterNetwork 0).cidr }}
  - {{ index $cluster.install_config.networking.serviceNetwork 0 }}
#  clusterDeploymentRef:
#    name: {{ $cluster.name }}
#    namespace: {{ $cluster.name }}
{{- end }}
{{- end }}
